@model IEnumerable<WebStore.Models.CarModel>
@{
    ViewData["Title"] = "Index";
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.MarkName</td>
            <td>@item.ModelName</td>
            @*<td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                </td>*@
            <td>
                @Html.ActionLink("About car", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>


@Html.ActionLink("List of Employers", "Index", "home")